<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools">

    <application
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.MobileCourseWork"
            tools:targetApi="31">
        <activity
                android:name=".AdminResultsTable"
                android:exported="false">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value="" />
        </activity>
        <activity
                android:name=".StudentQuestionPage"
                android:exported="false">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value="" />
        </activity>
        <activity
                android:name=".AdminDeleteSurvey"
                android:exported="false">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value="" />
        </activity>
        <activity
                android:name=".AdminEditQuestions"
                android:exported="false">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value="" />
        </activity>
        <activity
                android:name=".AdminEditActivity"
                android:exported="false">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value="" />
        </activity>
        <activity
                android:name=".AdminEditSurvey"
                android:exported="false">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value="" />
        </activity>
        <activity
                android:name=".AdminCreateQuestion"
                android:exported="false">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value="" />
        </activity>
        <activity
                android:name=".textviewList"
                android:exported="false">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value="" />
        </activity>
        <activity
                android:name=".ItemList"
                android:exported="false">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value="" />
        </activity>
        <activity
                android:name=".AdminRegister"
                android:exported="false">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value="" />
        </activity>
        <activity
                android:name=".ViewDisplay"
                android:exported="false">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value="" />
        </activity>
        <activity
                android:name=".AdminResults"
                android:exported="false">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value="" />
        </activity>
        <activity
                android:name=".AdminPublish"
                android:exported="false">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value="" />
        </activity>
        <activity
                android:name=".AdminCreateSurvey"
                android:exported="false">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value="" />
        </activity>
        <activity
                android:name=".StudentComplete"
                android:exported="false">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value="" />
        </activity>
        <activity
                android:name=".StudentSurveyPage"
                android:exported="false">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value="" />
        </activity>
        <activity
                android:name=".StudentHome"
                android:exported="false">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value="" />
        </activity>
        <activity
                android:name=".AdminHome"
                android:exported="false">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value="" />
        </activity>
        <activity
                android:name=".NewAccount"
                android:exported="false">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value="" />
        </activity>
        <activity
                android:name=".MainActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                    android:name="android.app.lib_name"
                    android:value="" />
        </activity>
    </application>

</manifest>